<h1>My tasks</h1>

<ul id="tasks">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa fa-check-square-o"></i>
      <% else %>
        <i class="fa fa-square-o"></i>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>
      ·
      <%= link_to task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete #{task.title}?" }, class: 'btn btn-danger bt-sm' do %>
      <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>
